body {
    background: mistyrose;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height: 100vh;
    background: mistyrose;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    background-color: antiquewhite;
    border: solid green 5px;
    border-radius: 5px;
}

.holder label {
    margin-left: 20px;
    color: blue;
}

.entry {
    background: rgba(90, 130, 215, 0.4);
}

.entryHolder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.holder.feel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#zip {
    background-color: white;
    margin-left: 20px;
    padding-left: 10px;
    border-bottom: blue solid 2px;
    color: blue;
}

#date {
    margin-left: 20px;
    background-color: aliceblue;
}

#temp {
    margin-left: 20px;
    background-color: antiquewhite;
}

#content {
    margin-left: 20px;
    background-color: coral;
}

#holderentry {}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.title {}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}